.example-spacer {
    flex: 1 1 auto;
  }
  
  .button1{
    
    margin-left: 100px;
    margin-top: 100px;
  
  }
  
  .button2{
    margin-left: 50px;
    margin-top: 100px;
  }
  .button3{
    margin-left: 50px;
    margin-top: 100px;
  }
  .button4{
    margin-left: 50px;
    margin-top: 100px;
  }
  .button5{
    margin-left: 50px;
    margin-top: 100px;
  }
  .button6{
    margin-left: 50px;
    margin-top: 100px;
  }


 
  