<div style="margin-top: 20px;">
<button class="button1"  mat-raised-button color="primary"  [routerLink]="['/create']" routerLinkActive="Active">Create</button>
  <button class="button2"  mat-raised-button color="primary"  [routerLink]="['/view']" routerLinkActive="Active">View</button>
  <button class="button3"  mat-raised-button color="primary"  [routerLink]="['/deposit']" routerLinkActive="Active">Deposit</button>
  <button class="button4"  mat-raised-button color="primary"  [routerLink]="['/withdraw']" routerLinkActive="Active">Withdraw</button>
  <button class="button5"  mat-raised-button color="primary"  [routerLink]="['/transfer']" routerLinkActive="Active">Transfer</button>
  <button class="button6"  mat-raised-button color="primary"  [routerLink]="['/delete']" routerLinkActive="Active">Delete</button>
</div>