<div class = "container">
    <router-outlet></router-outlet>
</div>

  

  <!-- <button class="button1"  mat-raised-button color="primary"  [routerLink]="['/create']" routerLinkActive="Active">Create</button> -->
  <!-- <button class="button2"  mat-raised-button color="primary">View</button>
  <button class="button3"  mat-raised-button color="primary">Deposit</button>
  <button class="button4"  mat-raised-button color="primary">Withdraw</button>
  <button class="button5"  mat-raised-button color="primary">Transfer</button>
  <button class="button6"  mat-raised-button color="primary">Delete</button> -->

  
